@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0%;
    transform: translateY(20px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

html {
  font-family: "Inter";
  font-size: 14px;
}

.page-title {
  margin-bottom: 20px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #bbb;
  background: #eee;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.button-text {
  background: none;
  border: none;
  color: #000;
}
.button-text--danger {
  background: none;
  border: none;
  color: #de0707;
}
.button--primary {
  background: #DE5D07;
  border: 1px solid #DE5D07;
  color: white;
}
.button--primary::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ca2800;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
  filter: blur(10px);
}
.button--primary:hover::after {
  transform: translate(-50%, -50%) scale(3);
}
.button-icon {
  margin-right: 12px;
  font-size: 16px;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
}
.app-main {
  padding: 30px;
  flex: 1;
  overflow-y: scroll;
}
.app-main--enabled {
  overflow-y: scroll;
}
.app-main--disabled {
  overflow-y: hidden;
}

.sidebar {
  padding: 30px;
  background: #fafafa;
  border-right: solid 1px #bbb;
  min-width: 250px;
  max-width: 300px;
}
.sidebar-title {
  margin-bottom: 20px;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-menu-link {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  color: black;
}
.sidebar-menu-icon {
  font-size: 16px;
  color: black;
}
.sidebar-menu-link--active {
  font-weight: bold;
}
.sidebar-menu-link--active .sidebar-menu-icon {
  color: #DE5D07;
}
.sidebar-menu sidebar {
  padding: 30px;
  background: #fafafa;
  border-right: solid 1px #bbb;
  min-width: 250px;
  max-width: 300px;
}
.sidebar-menu sidebar-title {
  margin-bottom: 20px;
}
.sidebar-menu sidebar-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table {
  border-collapse: collapse;
  outline: 1px solid #bbb;
  border-radius: 12px;
  overflow: hidden;
}
.table-pagination {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}
.table-pagination-control {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  transition: color 0.2s ease-in-out;
}
.table-pagination-control:hover, .table-pagination-control--active {
  color: #DE5D07;
  font-weight: bold;
}
.table-pagination-numbers {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}

.table-row td, th {
  border: none;
  padding: 10px 20px;
  text-align: left;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-row {
  background: #fcfcfc;
}

.table-row:nth-child(even) {
  background: #f3f3f3;
}

.table-row:hover {
  filter: brightness(0.95);
}

.table-header--button {
  cursor: pointer;
}

.modal {
  display: flex;
  opacity: 0%;
  max-width: 600px;
  min-width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: white;
  box-shadow: 3px 0px 10px #aaa;
  padding: 30px 20px;
  border-radius: 12px;
  animation: fadeInUp 0.3s 0.3s forwards ease-in-out;
}
.modal input, .modal select {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: solid 1px #aaa;
}
.modal label {
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  font-weight: 600;
}
.modal-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
  margin-top: 12px;
}

.form-title {
  margin-bottom: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.6666666667);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s forwards ease-in-out;
  z-index: 999;
}
.overlay--hidden {
  display: none;
}
.overlay--visible {
  display: flex;
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */