@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0%;
        transform: translateY(20px)
    }

    to {
        opacity: 100%;
        transform: translateY(0px)
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

html {
    font-family: 'Inter';
    font-size:14px;
}

.page-title {
    margin-bottom: 20px;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px 20px;
    border: 1px solid #bbb;
    background: #eee;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    &-text {
        background: none;
        border: none;
        color: #000;

        &--danger { 
            background: none;
            border: none;
            color: #de0707;
        }
    }

    &--primary {
        background: #DE5D07;
        border: 1px solid #DE5D07;
        color: white;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background: #ca2800;
            z-index:-1;
            transition: transform 0.2s ease-in-out;
            filter: blur(10px);
            
        }
    
        &:hover::after {
            transform: translate(-50%, -50%) scale(3) ;
        }

    }

    

    &-icon {
        margin-right: 12px; 
        font-size: 16px;
    }
}

.app {
    max-height:100vh;
    min-height: 100vh;
    display: flex;

    

    &-main {
        padding: 30px;
        flex: 1;
        overflow-y:scroll;

        &--enabled{
            overflow-y: scroll;
        }

        &--disabled{
            overflow-y: hidden;
        }
    }

   
}

.sidebar {
    padding: 30px;
    background: #fafafa;
    border-right: solid 1px #bbb;
    min-width: 250px;
    max-width: 300px;
    
    &-title {
        margin-bottom: 20px;
    }

    &-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-link {
            display: flex;
            gap: 12px;
            align-items: center;
            text-decoration: none;
            appearance: none !important;
            color: black;
        }

        &-icon {
            font-size: 16px;
            color: black;
        }

        &-link--active {
            font-weight: bold;
        }

        &-link--active &-icon {
            color:#DE5D07;
        }


    
           
            
            &-title {
                margin-bottom: 20px;
            }
    
            &-nav-list {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }


.table {
    border-collapse: collapse;
    outline: 1px solid #bbb;
    border-radius: 12px;
    overflow: hidden;

    &-rows-control{
        padding: 10px 20px;
        border: 1px solid #333;
        border-radius: 12px;
        margin-top: 12px;
    }

    &-controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-pagination {
        display: flex;
        gap: 12px;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: space-between;
        min-width: 600px;
        max-width: 600px;

        &-control {
            border:none;
            background: none;
            cursor: pointer;
            font-size: 16px;
            padding: 12px;
            transition: color .2s ease-in-out;
            

            &:hover, &--active {
                color:#DE5D07;
                font-weight: bold;
            }
        }

        &-numbers {
            display: flex;
            justify-content: center;
            gap: 20px;
            font-size: 16px;
        }
    }
}

.table-row td, th {
    border: none;
    padding: 10px 10px;
    text-align: left;
}

.table-row {
    background: #fcfcfc;
}

.table-row:nth-child(even) {
    background: #f3f3f3;
}

.table-row:hover {
    filter: brightness(0.95);
}

.table-header--button {
    cursor: pointer;
}

.modal {
    display: flex;
    opacity: 0%;
    max-width: 600px;
    min-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    box-shadow: 3px 0px 10px #aaa;
    padding: 30px 20px;
    border-radius: 12px;
    animation: fadeInUp 0.3s 0.3s forwards ease-in-out;

    & input, select {
        margin-bottom: 10px;
        width: 100%;
        border-radius: 8px;
        padding: 10px;
        border: solid 1px #aaa;
    }

    & label {
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
        font-weight: 600;
    }

    &-controls {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 12px;
        margin-top: 12px;
    }

}

.form-title {
    margin-bottom: 12px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(2px);
    background: #ffffffaa;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s forwards ease-in-out;
    z-index: 999;

    &--hidden {
        display: none;
    }
    &--visible {
        display: flex;
        overflow: hidden;
    }
}